:root {
    --Blue500: hsl(215, 51%, 70%);
    --Cyan400: hsl(178, 100%, 50%);
    --Blue950mainBG: hsl(217, 54%, 11%);
    --Blue900cardBG: hsl(216, 50%, 16%);
    --Blue800line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

}
@font-face {
    font-family: Outfit;
}
body{
    background-color: var(--Blue950mainBG);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Blue900cardBG);
    width: 450px;
    border-radius: 20px;
}
.img{
    width: 350px;
    padding: 30px;
    border-radius: 15px;
}
.hidden{
    display: none;
}